body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    height: 100vh;
}

header {
    background-color: #222;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 240px;
}

.search-container {
    display: flex;
    gap: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
}

#searchInput {
    padding: 8px;
    border: 1px solid #555;
    border-radius: 5px;
    margin-right: 10px; 
    background-color: #222; 
    color: #fff; 
    outline: none; 
}

#searchInput::placeholder {
    color: #888; 
}

#searchButton {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#loadMoreButton {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.pokemons {
    list-style: none;
}

.pokemon {
    background-color: #444;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.pagination {
    text-align: center;
}

button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    color: #fff;
    background-color: #222; 
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 5rem;
}

@media screen and (max-width: 992px) {
    header {
        flex-direction: column;
    }
}