.result-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.result-info {
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--text-color);
}

p {
  margin: 10px 0;
}
